code {
  background-color: black;
  color: white;
}

table {
  border-collapse: collapse;
}

tr, th, td {
  padding: .25rem;

  border: 1px solid #111;
}

pre {
  width: max-content;
  
  background-color: #111;
}

blockquote {
  padding-left: 5px;
  margin-left: 25px;

  border-left: 3px solid #00d8ff;
  color: #00d8ff;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  min-height: 100vh;

  text-align: center;
  color: white;
  background-color: #282c34;
}

.editor-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 30%;

  margin-bottom: 1rem;
  
  background-color: #ff7C00;
}

#editor {
  width: 96%;
  min-height: 300px;

  margin-bottom: 1rem;
}

.preview-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70%;

  text-align: left;
  background-color: #00d8ff;
}

#preview {
  width: 96%;

  margin-bottom: 1rem;
  padding: 1rem;

  color: #111;
  background-color: white;
}

